.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-weight: normal;
  margin: 26px -54px 0 54px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-image-1 {
  width: 855px;
  height: 369px;
  margin: 17px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -36px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 289px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-group-1 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -80px 0 0 122px;
}

.u-section-1 .u-text-4 {
  margin: 17px 17px 0 105px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-1 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -80px 0 0 122px;
}

.u-section-1 .u-text-7 {
  margin: 17px 17px 0 105px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-1 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -80px 0 0 122px;
}

.u-section-1 .u-text-10 {
  margin: 17px 17px 0 105px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-1 .u-group-3 {
  width: 80px;
  min-height: 80px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -80px 0 0 122px;
}

.u-section-1 .u-text-13 {
  margin: 17px 17px 0 105px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    filter: brightness(0.7);
    margin-top: 14px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -69px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 238px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 3px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 3px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 3px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 3px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 311px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 406px;
    margin: -155px auto 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1026px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 568px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -532px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: -146px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 12px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 12px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 12px;
    margin-right: 120px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1459px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: -92px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 739px;
}

.u-section-2 .u-shape-1 {
  width: 570px;
  height: 737px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-2 .u-group-1 {
  width: 889px;
  min-height: 587px;
  background-image: none;
  margin: -662px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 28px 15px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 640px;
  height: 393px;
  margin: 17px auto 0 -231px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -351px 72px 0 436px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  text-align: left;
  margin: 35px 28px 0 587px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 59px 113px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -708px;
    min-height: 659px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: -52px;
    margin-left: 66px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 11px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 458px;
    margin-left: 66px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -77px;
    margin-right: -31px;
    margin-left: 653px;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 700;
    margin-top: 11px;
    margin-right: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2649px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 726px;
    margin-left: 47px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1464px;
    margin-bottom: 0;
    min-height: 2649px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 275px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1287px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1139px;
    margin-right: 13px;
    margin-left: 47px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 32px;
    margin-right: 255px;
    margin-left: 732px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -1186px;
    margin-right: auto;
    margin-left: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-2 .u-shape-1 {
    height: 392px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1119px;
    margin-bottom: -727px;
    min-height: 1119px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 80px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 85px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-image-1 {
    height: 332px;
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 55px;
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 35px;
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 85px;
    margin-right: 127px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-2 .u-shape-1 {
    height: 773px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 704px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 33px;
    margin-right: 19px;
    margin-left: 11px;
  }

  .u-section-2 .u-image-1 {
    height: 132px;
    margin-top: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 19px;
    margin-right: 56px;
    margin-left: 70px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 19px;
    margin-right: 0;
  }
}